<style>
	#a {

	}
	.title {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		text-align: center;
		background-color: rgb(0, 0, 150);
		color: white;
		width: 100%;
	}
	.howDoes {
		position: absolute;
		top: 150px;
		left: 0px;
		right: 0px;
		margin-left: 20px;
		margin-right: 20px;
		background-color: rgb(0, 0, 139);
		border-radius: 10px;
	}
	.content {
		position: absolute;
		top: 370px;
		left: 0px;
		right: 0px;
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 10px;
		background-color: rgb(0, 0, 139);
		color: white;
		border-radius: 10px;
	}
	.footer {
		position: absolute;
		top: 780px;
		left: 0px;
		right: 0px;
		padding-left: 10px;
		background-color: rgb(0, 0, 139);
		color: white;
	}
	.answer {
		pointer-events: pointer;
		background-color: rgb(0, 255, 255);
		padding: 5px;
		color: white;	
		margin: 20px;
		border: 2px solid rgb(173, 216, 230);
	}
	#titleText {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#descText {
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#titleHowDoes {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		color: white;
	}
	#descHowDoes {
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		color: rgb(0, 255, 255);
	}
	#checkButton {
		background-color: rgb(165, 42, 42);
		padding: 5px;
		margin: 20px;
		color: white;	
		border: 2px solid rgb(165, 50, 42);
	}
	#questionText {
		margin: 20px;
	}
	#rText {
		color: rgb(0, 255, 0);
	}
	body {
		background-color: rgb(25, 25, 112);
		font-family: "Arial", "Helvetica", "sans-serif";
		margin-bottom: 200px;
	}
	input, select {
		margin: 20px;
		background-color: rgb(0, 255, 255);
		color: black;
	}
	button {
		cursor: pointer;
	}
</style>
